<div class="navbar-container bg-primary-3" id="top">
  <nav class="navbar navbar-expand-lg navbar-dark" data-sticky="top">
    <div class="container">

      <a class="navbar-brand navbar-brand-dynamic-color fade-page" href="#">
        <img alt="enoos" data-inject-svg src="assets/img/enoos-only-text.svg" class="svg-withe" style="width: 200px;">
      </a>

      <div class="d-flex align-items-center order-lg-3">
        <a pageScroll href="#notifyme" (pageScrollFinish)="Analytics('notifyme','professional')" class="btn btn-primary ml-lg-4 mr-3 mr-md-4 mr-lg-0 d-none d-sm-block order-lg-3">Quiero ser
          parte</a>
        <button aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
          data-target=".navbar-collapse" data-toggle="collapse" type="button">
          <img alt="Navbar Toggler Open Icon" class="navbar-toggler-open icon icon-sm" data-inject-svg
            src="assets/icons/icon-menu.svg">
          <img alt="Navbar Toggler Close Icon" class="navbar-toggler-close icon icon-sm" data-inject-svg
            src="assets/icons/icon-x.svg">
        </button>
      </div>

      <div class="collapse navbar-collapse order-3 order-lg-2 justify-content-lg-end" id="navigation-menu">
        <ul class="navbar-nav my-3 my-lg-0">
        </ul>
      </div>
    </div>
  </nav>
</div>

<!-- Hero -->
<section class="bg-primary-3 text-white pb-0 o-hidden">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-xl-5 col-lg-6 text-center text-lg-left mb-4 mb-md-5 mb-lg-0" data-aos="fade-right">
        <!--<h1 class="display-4">Aumenta tus ingresos <mark data-aos="highlight-text" data-aos-delay="200">ayudando</mark> a muchos</h1>-->
        <h1 class="display-3"><mark data-aos="highlight-text" data-aos-delay="200">Revolución</mark> en psicoterapia
        </h1>
        <p class="lead">Da terapia online sin preocuparte por nada. Nos encargamos de todo</p>
        <a pageScroll href="#beneficios" (pageScrollFinish)="Analytics('benefits','professional')"  class="btn btn-lg btn-primary">¿Qué beneficios tengo?</a>
      </div>
      <div class="col" data-aos="fade-left" data-aos-delay="250">
        <img src="assets/img/woman_working_free.jpg" alt="Feel free" class="img-fluid rounded shadow-lg">
      </div>
    </div>
  </div>
  <div class="w-50 h-50 bottom right position-absolute" data-jarallax-element="50">
    <div class="blob blob-2 bg-gradient w-100 h-100"></div>
  </div>
  <div class="w-50 h-50 bottom right position-absolute" data-jarallax-element="75">
    <div class="blob blob-4 bg-white opacity-10 w-100 h-100"></div>
  </div>
  <div class="divider divider-bottom bg-white"></div>
</section>

<!-- Features -->
<section id="beneficios">
  <div class="container">

    <div class="row section-title justify-content-center text-center">
      <div class="col-md-9 col-lg-8 col-xl-7">
        <h3 class="display-4">Todos son <mark data-aos="highlight-text" data-aos-delay="200">beneficios</mark> </h3>
        <div class="lead">Estamos para hacerte todo mucho mas fácil</div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 mb-4 mb-md-0" data-aos="fade-up" data-aos-delay="100">
        <div>
          <img src="assets/icons/gift.svg" alt="Registro gratis" class="icon bg-primary" data-inject-svg>
          <h5 class="mt-4">Es gratuito</h5>
          <div>
            El registro de tu perfil en Xxxxx no cuesta nada
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4 mb-md-0" data-aos="fade-up" data-aos-delay="200">
        <div>
          <img src="assets/icons/dollar.svg" alt="Tú fijas el precio" class="icon bg-primary" data-inject-svg>
          <h5 class="mt-4">Tú fijas el precio</h5>
          <div>
            Decides qué es lo que quieres ganar por cada sesión
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4 mb-md-0" data-aos="fade-up" data-aos-delay="300">
        <div>
          <img src="assets/icons/coffee-1.svg" alt="Tú mandas" class="icon bg-primary" data-inject-svg>
          <h5 class="mt-4">100% Flexible, sin obligaciones</h5>
          <div>
            Tú eres tu propio jefe.
            Decides tus horarios y cuándo necesitas un parón para descansar
          </div>
        </div>
      </div>

    </div>

    <div class="row mt-5">
      <div class="col-md-4 mb-4 mb-md-0" data-aos="fade-up" data-aos-delay="100">
        <div>
          <img src="assets/icons/laptop.svg" alt="Desde donde quieras" class="icon bg-primary" data-inject-svg>
          <h5 class="mt-4">Trabaja desde donde quieras</h5>
          <div>
            ¿Tienes un dispositivo con buen acceso a Internet? ¡Estás preparad@!
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4 mb-md-0" data-aos="fade-up" data-aos-delay="200">
        <div>
          <img src="assets/icons/star.svg" alt="Recomendaciones" class="icon bg-primary" data-inject-svg>
          <h5 class="mt-4">Obtienes recomendaciones</h5>
          <div>
            Tu perfil de profesional gana reputación con valoraciones reales de tus sesiones
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4 mb-md-0" data-aos="fade-up" data-aos-delay="300">
        <div>
          <img src="assets/icons/lock.svg" alt="100% Seguro" class="icon bg-primary" data-inject-svg>
          <h5 class="mt-4">Recibes los pagos de forma segura</h5>
          <div>
            Gestionamos por ti el cobro a los clientes y te lo transferimos cómodamente a tu cuenta bancaria
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- How it works -->
<section class="bg-light o-hidden">
  <div class="container">
    <div class="row section-title justify-content-center text-center">
      <div class="col-md-9 col-lg-8 col-xl-7">
        <h2 class="display-4">Cómo funciona</h2>
        <div class="lead">Fácil, completas tu perfil y nosotros hacemos el resto</div>
      </div>
    </div>
    <div class="row align-items-center justify-content-around">
      <div class="col-md-9 col-lg-6 col-xl-5 mt-4 mt-md-5 mt-lg-0">
        <ol class="list-unstyled p-0">
          <li class="d-flex align-items-start my-4 my-md-5">
            <div class="rounded-circle p-3 p-sm-4 d-flex align-items-center justify-content-center bg-success">
              <div class="position-absolute text-white h5 mb-0">1</div>
            </div>
            <div class="ml-3 ml-md-4">
              <h4>Completa tu perfil</h4>
              <p>
                Es importante completarlo lo máximo posible. Es tu forma de que te conozcan
              </p>
            </div>
          </li>
          <li class="d-flex align-items-start my-4 my-md-5">
            <div class="rounded-circle p-3 p-sm-4 d-flex align-items-center justify-content-center bg-success">
              <div class="position-absolute text-white h5 mb-0">2</div>
            </div>
            <div class="ml-3 ml-md-4">
              <h4>Confirma las reservas</h4>
              <p>
                Te comenzarán a llegar reservas de clientes, acéptalas y manos a la obra
              </p>
            </div>
          </li>
          <li class="d-flex align-items-start my-4 my-md-5">
            <div class="rounded-circle p-3 p-sm-4 d-flex align-items-center justify-content-center bg-success">
              <div class="position-absolute text-white h5 mb-0">3</div>
            </div>
            <div class="ml-3 ml-md-4">
              <h4>Siéntente libre</h4>
              <p>
                Sólo nesesitas un dispositivo con conexión a internet y estás list@ para ayudar desde donde estés
              </p>
            </div>
          </li>
        </ol>
      </div>

      <div class="col-md-9 col-lg-5" data-aos="fade-in">
        <img src="assets/img/fabiola-penalba-x9RnODkUDpg-unsplash.jpg" alt="Image" class="img-fluid rounded shadow">
        <img src="assets/img/btn_comezar.jpg" alt="Image"
          class="position-absolute p-0 col-4 col-xl-5 border border-white border-thick rounded-circle top left shadow-lg mt-5 ml-n5 ml-lg-n3 ml-xl-n5 d-none d-md-block"
          data-jarallax-element="-20 0">
      </div>
    </div>
  </div>
</section>

<!-- Features -->
<section class="o-hidden">
  <div class="container">
    <div class="row section-title justify-content-center text-center">
      <div class="col-md-9 col-lg-8 col-xl-7">
        <h3 class="display-4">Todo lo necesario</h3>
        <div class="lead">Grandes herramientas para que te centres en lo que sabes hacer</div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <tabset type="pills justify-content-center mb-4 mb-md-5 lead">
            <tab heading="Calendario">
              <div class="row align-items-center justify-content-between flex-lg-row-reverse">
                <div class="col-lg-7 col-xl-7 text-center text-lg-left mb-4 mb-md-5 mb-lg-0">
                  <div class="pl-lg-4 pr-xl-5" data-aos="fade-right">
                    <h3 class="h1">Ahorre  <mark data-aos="highlight-text"  data-aos-delay="250">tiempo y trabajo</mark></h3>
                    <p>
                     Tendrás un total control de tus citas en una interfaz simple e intuitiva
                    </p>
                    
                    <div class="d-flex flex-wrap justify-content-center justify-content-lg-start">
                      <div class="mb-3 mr-4 ml-lg-0 mr-lg-4" data-aos="fade-left" data-aos-delay="100">
                        <div class="d-flex align-items-center">
                          <div class="rounded-circle bg-success-alt">
                            <img src="assets/icons/icon-check.svg" alt="Binoculars icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                          </div>
                          <h6 class="mb-0 ml-3">Recepciona citas automáticamente</h6>
                        </div>
                      </div>
                      <div class="mb-3 mr-4 ml-lg-0 mr-lg-4" data-aos="fade-left" data-aos-delay="200">
                        <div class="d-flex align-items-center">
                          <div class="rounded-circle bg-success-alt">
                            <img src="assets/icons/icon-check.svg" alt="Binoculars icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                          </div>
                          <h6 class="mb-0 ml-3">Confirma o reprograma las citas con un click</h6>
                        </div>
                      </div>
                      <div class="mb-3 mr-4 ml-lg-0 mr-lg-4" data-aos="fade-left" data-aos-delay="400">
                        <div class="d-flex align-items-center">
                          <div class="rounded-circle bg-success-alt">
                            <img src="assets/icons/icon-check.svg" alt="Binoculars icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                          </div>
                          <h6 class="mb-0 ml-3">No más llamadas, toda la comunicacián es automática</h6>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col-lg-5 col-xl-5 text-center">
                  <div class="d-inline-block mb-4 p-3 p-md-4 rounded-circle bg-primary-2-alt" data-aos="fade-left">
                    <img src="assets/icons/calendar.svg" alt="Calendario" class="m-2 icon icon-xxl bg-success" data-inject-svg>  
                  </div>
                </div>
              </div>
            </tab>
            <tab heading="Video-sesiones">
              <div class="row align-items-center justify-content-around">
                <div class="col-lg-7 col-xl-7 text-center text-lg-left mb-4 mb-md-5 mb-lg-0">
                  <div class="pr-lg-4 pr-xl-5" data-aos="fade-right">
                    <h3 class="h1">Un lugar para centrarte en lo  <mark data-aos="highlight-text"  data-aos-delay="250">importante</mark></h3>
                    <p>
                     Video-sesión con una interfaz simple totalmente integrada en Xxxx
                    </p>
                    <div class="d-flex flex-wrap justify-content-center justify-content-lg-start">
                      <div class="mb-3 mr-4 ml-lg-0 mr-lg-4" data-aos="fade-left" data-aos-delay="100">
                        <div class="d-flex align-items-center">
                          <div class="rounded-circle bg-success-alt">
                            <img src="assets/icons/icon-check.svg" alt="Binoculars icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                          </div>
                          <h6 class="mb-0 ml-3">Conéctate con un click</h6>
                        </div>
                      </div><br>
                      <div class="mb-3 mr-4 ml-lg-0 mr-lg-4" data-aos="fade-left" data-aos-delay="200">
                        <div class="d-flex align-items-center">
                          <div class="rounded-circle bg-success-alt">
                            <img src="assets/icons/icon-check.svg" alt="Binoculars icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                          </div>
                          <h6 class="mb-0 ml-3">Seguras y confidenciales</h6>
                        </div>
                      </div>
                      <div class="mb-3 mr-4 ml-lg-0 mr-lg-4" data-aos="fade-left" data-aos-delay="400">
                        <div class="d-flex align-items-center">
                          <div class="rounded-circle bg-success-alt">
                            <img src="assets/icons/icon-check.svg" alt="Binoculars icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                          </div>
                          <h6 class="mb-0 ml-3">Comparte pantalla o archivos de forma sencilla</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5 col-xl-5 text-center">
                  <div class="d-inline-block mb-4 p-3 p-md-4 rounded-circle bg-primary-2-alt" data-aos="fade-left">
                    <img src="assets/icons/contact-1.svg" alt="Videllamadas" class="m-2 icon icon-xxl bg-success" data-inject-svg>  
                  </div>
                </div>
              </div>
            </tab>
            <tab heading="Chats">
              <div class="row align-items-center justify-content-between flex-lg-row-reverse">
                <div class="col-lg-7 col-xl-7 text-center text-lg-left mb-4 mb-md-5 mb-lg-0">
                  <div class="pl-lg-4 pr-xl-5" data-aos="fade-right">
                    <h3 class="h1">Cominucación  <mark data-aos="highlight-text"  data-aos-delay="250">centralizada</mark></h3>
                    <p>
                     No más tiempo en llamadas para coordinar o confirmar sesiones
                    </p>
                    
                    <div class="d-flex flex-wrap justify-content-center justify-content-lg-start">
                      <div class="mb-3 mr-4 ml-lg-0 mr-lg-4">
                        <div class="d-flex align-items-center">
                          <div class="rounded-circle bg-success-alt">
                            <img src="assets/icons/icon-check.svg" alt="Binoculars icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                          </div>
                          <h6 class="mb-0 ml-3">Mensajes automáticos cuando se modifica o cancela una sesión</h6>
                        </div>
                      </div>
                      <div class="mb-3 mr-4 ml-lg-0 mr-lg-4">
                        <div class="d-flex align-items-center">
                          <div class="rounded-circle bg-success-alt">
                            <img src="assets/icons/icon-check.svg" alt="Binoculars icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                          </div>
                          <h6 class="mb-0 ml-3">Comunicación directa integrada</h6>
                        </div>
                      </div>
                      <div class="mb-3 mr-4 ml-lg-0 mr-lg-4">
                        <div class="d-flex align-items-center">
                          <div class="rounded-circle bg-success-alt">
                            <img src="assets/icons/icon-check.svg" alt="Binoculars icon" class="m-2 icon icon-xs bg-success" data-inject-svg>
                          </div>
                          <h6 class="mb-0 ml-3">Chat fácil y simple</h6>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col-lg-5 col-xl-5 text-center">
                  <div class="d-inline-block mb-4 p-3 p-md-4 rounded-circle bg-primary-2-alt" data-aos="fade-left">
                    <img src="assets/icons/group-chat.svg" alt="Chat" class="m-2 icon icon-xxl bg-success" data-inject-svg>  
                  </div>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section Form -->
<section class="pt-0 pb-0 o-hidden bg-light " id="notifyme">
  <div class="divider divider-top transform-flip-x"></div>
  <div class="container">
    <div class="row align-items-center justify-content-around">
      <div class="col-xl-5 col-lg-6 col-md-9 text-center text-lg-left mb-5 mb-lg-0">
        <h3 class="h1">¿Te interesa saber <mark data-aos="highlight-text" data-aos-delay="200">mas</mark>?</h3>
        <p class="lead">Seras de los primeros en enterarte de todo lo nuevo, lo prometemos.</p>

        <div class="mt-4 mt-lg-5">
          <div class="alert rounded-lg bg-secondary d-inline-flex align-items-center">
            <div class="badge badge-pill badge-success">Beta</div>
            <div class="mx-3">
              ¡Lanzamiento versión 1.0 muy pronto!
            </div>
          </div>
        </div>
        <h5 class="mt-5">¡Preparate para la revolución del cuidado personal!</h5>
      </div>
      <div class="col-xl-4 col-lg-5 col-md-6">
        <div class="card shadow-lg">
          <div class="position-relative">
            <img src="assets/img/assets_img_blog_thumb-2.jpg" alt="Image" class="card-img-top">
            <div class="divider bottom position-absolute"></div>
          </div>
          <div class="card-body">
            <form [formGroup]="form_notify" (ngSubmit)="notify($event)">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Nombre" formControlName="name">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" formControlName="email">
              </div>
              <button class="btn btn-primary btn-block" type="submit" [disabled]="form_sending">
                <div class="spinner-border spinner-border-sm text-light" role="status" *ngIf="form_sending"></div>
                Avísame
              </button>

              <div class="alert alert-success w-100 mt-3" role="alert" *ngIf="form_result" data-aos="fade-up">
                <strong>¡Gracias!</strong> Dentro de poco recibirás novedades de nuestra plataforma!
              </div>
              <div class="alert alert-danger w-100 mt-3" role="alert" *ngIf="!form_result && form_result!=null" data-aos="fade-up">
                <strong>Ooops!</strong> parece hubo un problema, podrías intentarlo más tarde? ¡Gracias!
              </div>
              <div class="alert alert-danger w-100 mt-3" role="alert" *ngIf="form_cleaned && form_cleaned!=null" data-aos="fade-up">
                <strong>Ooops!</strong> parece hubo un problema, verifica tu nombre y/o correo electrónico ¡Gracias!
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="divider divider-bottom bg-primary-3 mt-5"></div>
</section>

<footer class="bg-primary-3 text-white links-white pb-4 footer-1">
  <div class="container">
    <div
      class="row flex-column flex-lg-row align-items-center justify-content-center justify-content-lg-between text-center text-lg-left">
      <div class="col-auto">
        <div class="d-flex flex-column flex-sm-row align-items-center text-small">
          <div class="text-muted">
            Make with ❤️ for you. &copy; 2020 Page protected by reCAPTCHA and subject to Google's <a
              href="https://www.google.com/policies/privacy/" target="_blank">Privacy Policy</a> and <a
              href="https://policies.google.com/terms" target="_blank">Terms of Service</a>
          </div>
        </div>
      </div>
      <div class="col-auto mt-3 mt-lg-0">
        <ul class="list-unstyled d-flex mb-0">
          <li class="mx-3">
            <a href="#" class="hover-fade-out">
              <img src="assets/img/icons/social/dribbble.svg" alt="Dribbble" class="icon icon-xs bg-white"
                data-inject-svg>
            </a>
          </li>
          <li class="mx-3">
            <a href="#" class="hover-fade-out">
              <img src="assets/img/icons/social/twitter.svg" alt="Twitter" class="icon icon-xs bg-white"
                data-inject-svg>
            </a>
          </li>
          <li class="mx-3">
            <a href="#" class="hover-fade-out">
              <img src="assets/img/icons/social/github.svg" alt="Github" class="icon icon-xs bg-white" data-inject-svg>
            </a>
          </li>
          <li class="mx-3">
            <a href="#" class="hover-fade-out">
              <img src="assets/img/icons/social/facebook.svg" alt="Facebook" class="icon icon-xs bg-white"
                data-inject-svg>
            </a>
          </li>
          <li class="mx-3">
            <a href="#" class="hover-fade-out">
              <img src="assets/img/icons/social/google.svg" alt="Google" class="icon icon-xs bg-white" data-inject-svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>


<a pageScroll href="#top" class="btn btn-primary rounded-circle btn-back-to-top" data-aos="fade-up"
  data-aos-offset="2000" data-aos-mirror="true" data-aos-once="false">
  <img src="assets/icons/icon-arrow-up.svg" alt="To top" class="icon bg-white" data-inject-svg>
</a>
